// Das sind die UIKit-Standardvariablen, die hier individuell angepasst werden können.
// Die Farbnamen sind eigene Namen, die den Farbwerten entsprechen.

$444-color: #444;
$eee-color: #eee;
$00a8e6-color: #00a8e6;
$fff-color: #fff;
$999-color: #999;
$ddd-color: #ddd;
$ccc-color: #ccc;
$aaa-color: #aaa;
$f5f5f5-color: #f5f5f5;
$ebf7fd-color: #ebf7fd;
$2d7091-color: #2d7091;
$f2fae3-color: #f2fae3;
$659f13-color: #659f13;
$fffceb-color: #fffceb;
$e28327-color: #e28327;
$fff1f0-color: #fff1f0;
$d85030-color: #d85030;
$fafafa-color: #fafafa;
$8cc14c-color: #8cc14c;
$faa732-color: #faa732;
$da314b-color: #da314b;
$rgba0000-color: $rgba(0,0,0,0);
$07D-color: #07D;
$059-color: #059;
$1a1a1a-color: #1a1a1a;
$777-color: #777;
$rgba50505004-color: rgba(50,50,50,0.4);
$rgba25525525507-color: rgba(255,255,255,0.7);
$rgba25525525509-color: rgba(255,255,255,0.9);
$333-color: #333;
$D05-color: #D05;
$ffa-color: #ffa;
$39f-color: #39f;
$f9f9f9-color: #f9f9f9;
$222-color: #222;
$35b3ee-color: #35b3ee;
$0091ca-color: #0091ca;
$8ec73b-color: #8ec73b;
$72ae41-color: #72ae41;
$e4354f-color: #e4354f;
$c91032-color: #c91032;
$99baca-color: #99baca;
$f5fbfe-color: #f5fbfe;
$dc8d99-color: #dc8d99;
$fff7f8-color: #fff7f8;
$fafff2-color: #fafff2;
$rgba00006-color: rgba(0,0,0,0.6);
$rgba000005-color: rgba(0,0,0,0.05);
$404040-color: #404040;
$rgba00001-color: rgba(0,0,0,0.1);
$rgba00005-color: rgba(0,0,0,0.5);
$rgba00003-color: rgba(0,0,0,0.3);
$rgba50505001-color: rgba(50,50,50,0.1);
$rgba50505006-color: rgba(50,50,50,0.6);
$rgba25525525504-color: rgba(255,255,255,0.4);
$rgba00002-color: rgba(0,0,0,0.2);
$rgba50505007-color: rgba(50,50,50,0.7);
$rgba50505009-color: rgba(50,50,50,0.9);
$rgba25525525505-color: rgba(255,255,255,0.5);
$rgba10010010003-color: rgba(100,100,100,0.3);


//$accordion-title-margin-bottom:                  15px;
//$accordion-title-padding-vertical:               5px;
//$accordion-title-padding-horizontal:             15px;
//$accordion-title-font-size:                      18px;
//$accordion-title-line-height:                    24px;
//$accordion-title-background:                     $eee-color;
//$accordion-content-padding-horizontal:           $accordion-title-padding-horizontal;
//$accordion-content-padding-bottom:               $accordion-title-padding-horizontal;
//$nav-autocomplete-color:                         $444-color;
//$nav-autocomplete-active-background:             $00a8e6-color;
//$nav-autocomplete-active-color:                  $fff-color;
//$nav-autocomplete-header-color:                  $999-color;
//$nav-autocomplete-divider-border:                $ddd-color;
//$nav-autocomplete-divider-border-width:          1px;
//$datepicker-z-index:                             1050;
//$datepicker-animation:                           uk-fade;
//$datepicker-nav-height:                          20px;
//$datepicker-nav-margin-bottom:                   15px;
//$datepicker-nav-color:                           $444-color;
//$datepicker-nav-hover-color:                     $444-color;
//$datepicker-previous-icon:                       "\f053";
//$datepicker-next-icon:                           "\f054";
//$datepicker-table-width:                         26px;
//$datepicker-table-height:                        24px;
//$datepicker-table-color:                         $444-color;
//$datepicker-table-hover-background:              $ddd-color;
//$datepicker-table-hover-color:                   $444-color;
//$datepicker-table-onclick-background:            $ccc-color;
//$datepicker-table-onclick-color:                 $444-color;
//$datepicker-table-active-background:             $00a8e6-color;
//$datepicker-table-active-color:                  $fff-color;
//$datepicker-table-muted-color:                   $999-color;
//$dotnav-margin-horizontal:                       15px;
//$dotnav-margin-vertical:                         $dotnav-margin-horizontal;
//$dotnav-width:                                   20px;
//$dotnav-height:                                  $dotnav-width;
//$dotnav-background:                              $rgba50505001-color;
//$dotnav-hover-background:                        $rgba50505004-color;
//$dotnav-onclick-background:                      $rgba50505006-color;
//$dotnav-active-background:                       $rgba50505004-color;
//$dotnav-contrast-background:                     $rgba25525525504-color;
//$dotnav-contrast-hover-background:               $rgba25525525507-color;
//$dotnav-contrast-onclick-background:             $rgba25525525509-color;
//$dotnav-contrast-active-background:              $rgba25525525509-color;
//$form-advanced-size:                           14px;
//$form-advanced-border:                         $aaa-color;
//$form-advanced-border-width:                   1px;
//$form-advanced-margin-top:                     -4px;
//$form-advanced-color:                          transparent;
//$form-advanced-checked-color:                  $00a8e6-color;
//$form-advanced-radio-size:                     8px;
//$form-advanced-checkbox-icon:                  "\f00c";
//$form-advanced-checkbox-indeterminate-icon:    "\f068";
//$form-advanced-checkbox-font-size:             12px;
//$form-advanced-disabled-border:                $ddd-color;
//$form-advanced-disabled-color:                 $aaa-color;
//$form-password-font-size:                        13px;
//$form-password-line-height:                      $form-password-font-size;
//$form-password-color:                            $999-color;
//$form-password-hover-color:                      $999-color;
//$form-password-padding:                          50px;
//$htmleditor-navbar-background:                   $eee-color;
//$htmleditor-navbar-nav-height:                   40px;
//$htmleditor-navbar-nav-padding-horizontal:       15px;
//$htmleditor-navbar-nav-line-height:              $htmleditor-navbar-nav-height;
//$htmleditor-navbar-nav-color:                    $444-color;
//$htmleditor-navbar-nav-hover-background:         $f5f5f5-color;
//$htmleditor-navbar-nav-hover-color:              $444-color;
//$htmleditor-navbar-nav-onclick-background:       $ddd-color;
//$htmleditor-navbar-nav-onclick-color:            $444-color;
//$htmleditor-navbar-nav-active-background:        $f5f5f5-color;
//$htmleditor-navbar-nav-active-color:             $444-color;
//$htmleditor-content-border:                      $ddd-color;
//$htmleditor-content-background:                  $fff-color;
//$htmleditor-content-padding:                     20px;
//$htmleditor-content-split-border:                $eee-color;
//$htmleditor-fullscreen-z-index:                  990;
//$htmleditor-fullscreen-content-top:              $htmleditor-navbar-nav-height;
//$htmleditor-fullscreen-icon-resize:              "\f066";
//$nestable-padding-left:                          40px;
//$nestable-item-margin:                           10px;
//$nestable-dragged-z-index:                       1050;
//$nestable-placeholder-border:                    $ddd-color;
//$nestable-empty-height:                          30px;
//$nestable-toggle-icon:                           "\f147";
//$nestable-toggle-collapsed-icon:                 "\f196";
//$nestable-panel-padding:                         5px;
//$nestable-panel-background:                      $f5f5f5-color;
//$notify-position:                                10px;
//$notify-z-index:                                 1040;
//$notify-width:                                   350px;
//$notify-message-margin-bottom:                   10px;
//$notify-message-padding:                         15px;
//$notify-message-background:                      $444-color;
//$notify-message-color:                           $fff-color;
//$notify-message-font-size:                       16px;
//$notify-message-line-height:                     22px;
//$notify-message-primary-background:              $ebf7fd-color;
//$notify-message-primary-color:                   $2d7091-color;
//$notify-message-success-background:              $f2fae3-color;
//$notify-message-success-color:                   $659f13-color;
//$notify-message-warning-background:              $fffceb-color;
//$notify-message-warning-color:                   $e28327-color;
//$notify-message-danger-background:               $fff1f0-color;
//$notify-message-danger-color:                    $d85030-color;
//$placeholder-margin-vertical:                    15px;
//$placeholder-padding:                            20px;
//$placeholder-border:                             $ddd-color;
//$placeholder-background:                         $fafafa-color;
//$placeholder-color:                              $444-color;
//$placeholder-large-padding-vertical:             80px;
//$progress-height:                                20px;
//$progress-mini-height:                           6px;
//$progress-small-height:                          12px;
//$progress-margin-vertical:                       15px;
//$progress-background:                            $eee-color;
//$progress-bar-background:                        $00a8e6-color;
//$progress-bar-font-size:                         12px;
//$progress-bar-color:                             $fff-color;
//$progress-bar-success-background:                $8cc14c-color;
//$progress-bar-warning-background:                $faa732-color;
//$progress-bar-danger-background:                 $da314b-color;
//$search-width:                                   120px;
//$search-focus-width:                             180px;
//$search-height:                                  30px;
//$search-padding:                                 30px;
//$search-border:                                  $rgba0000-color;
//$search-border-width:                            1px;
//$search-background:                              $rgba0000-color;
//$search-color:                                   $444-color;
//$search-placeholder-color:                       $999-color;
//$search-icon:                                    "\f002";
//$search-icon-size:                               14px;
//$search-icon-color:                              $rgba00002-color;
//$dropdown-search-width:                          300px;
//$dropdown-search-margin-top:                     0;
//$dropdown-search-background:                     $f5f5f5-color;
//$dropdown-search-color:                          $444-color;
//$dropdown-search-animation:                      uk-slide-top-fixed;
//$dropdown-search-navbar-margin-top:              5px;
//$dropdown-search-navbar-margin-right:            -15px;
//$nav-search-color:                               $444-color;
//$nav-search-active-background:                   $00a8e6-color;
//$nav-search-active-color:                        $fff-color;
//$nav-search-header-color:                        $999-color;
//$nav-search-divider-border:                      $ddd-color;
//$nav-search-divider-border-width:                1px;
//$nav-search-nested-color:                        $07D-color;
//$nav-search-nested-hover-color:                  $059-color;
//$offcanvas-search-margin:                        20px 15px;
//$offcanvas-search-background:                    $1a1a1a-color;
//$offcanvas-search-border:                        $rgba0000-color;
//$offcanvas-search-color:                         $ccc-color;
//$offcanvas-search-placeholder-color:             $777-color;
//$offcanvas-search-icon-color:                    $777-color;
//$slidenav-width:                                 60px;
//$slidenav-height:                                $slidenav-width;
//$slidenav-color:                                 $rgba50505004-color;
//$slidenav-font-size:                             60px;
//$slidenav-line-height:                           $slidenav-height;
//$slidenav-previous-icon:                         "\f104";
//$slidenav-next-icon:                             "\f105";
//$slidenav-hover-color:                           $rgba50505007-color;
//$slidenav-active-color:                          $rgba50505009-color;
//$slidenav-position-previous:                     20px;
//$slidenav-position-next:                         $slidenav-position-previous;
//$slidenav-contrast-color:                        $rgba25525525505-color;
//$slidenav-contrast-hover-color:                  $rgba25525525507-color;
//$slidenav-contrast-active-color:                 $rgba25525525509-color;
//$sortable-dragged-z-index:                       1050;
//$sortable-placeholder-opacity:                   0;
//$sortable-empty-height:                          30px;
//$sticky-z-index:                                 980;
//$sticky-animation-duration:                      0.2s;
//$sticky-reverse-animation-duration:              0.2s;
//$tooltip-z-index:                                1030;
//$tooltip-max-width:                              200px;
//$tooltip-padding-vertical:                       5px;
//$tooltip-padding-horizontal:                     8px;
//$tooltip-background:                             $333-color;
//$tooltip-triangle-size:                          5px;
//$tooltip-color:                                  $rgba25525525507-color;
//$tooltip-font-size:                              12px;
//$tooltip-line-height:                            18px;
//$tooltip-offset-horizontal:                      10px;
//$uk-upload-dragover-box-shadow:                  $rgba10010010003-color;
//$uk-upload-dragover-box-shadow-blur:             20px;
//$alert-margin-vertical:                          15px;
//$alert-padding:                                  10px;
//$alert-background:                               $ebf7fd-color;
//$alert-color:                                    $2d7091-color;
//$alert-success-background:                       $f2fae3-color;
//$alert-success-color:                            $659f13-color;
//$alert-warning-background:                       $fffceb-color;
//$alert-warning-color:                            $e28327-color;
//$alert-danger-background:                        $fff1f0-color;
//$alert-danger-color:                             $d85030-color;
//$alert-large-padding:                            20px;
//$badge-background:                               $00a8e6-color;
//$badge-padding-horizontal:                       5px;
//$badge-font-size:                                10px;
//$badge-font-weight:                              bold;
//$badge-line-height:                              14px;
//$badge-color:                                    $fff-color;
//$badge-text-transform:                           none;
//$badge-hover-color:                              $fff-color;
//$badge-notification-font-size:                   12px;
//$badge-notification-line-height:                 18px;
//$badge-success-background:                       $8cc14c-color;
//$badge-warning-background:                       $faa732-color;
//$badge-danger-background:                        $da314b-color;
//$base-body-background:                           $fff-color;
//$base-body-font-family:                          "Helvetica Neue", Helvetica, Arial, sans-serif;
//$base-body-font-weight:                          normal;
//$base-body-font-size:                            14px;
//$base-body-line-height:                          20px;
//$base-body-color:                                $444-color;
//$base-link-color:                                $07D-color;
//$base-link-text-decoration:                      none;
//$base-link-hover-color:                          $059-color;
//$base-link-hover-text-decoration:                underline;
//$base-code-color:                                $D05-color;
//$base-code-font-size:                            12px;
//$base-code-font-family:                          Consolas, monospace, serif;
//$base-em-color:                                  $D05-color;
//$base-ins-background:                            $ffa-color;
//$base-ins-color:                                 $444-color;
//$base-mark-background:                           $ffa-color;
//$base-mark-color:                                $444-color;
//$base-quote-font-style:                          italic;
//$base-margin-vertical:                           15px;
//$base-heading-font-family:                       "Helvetica Neue", Helvetica, Arial, sans-serif;
//$base-heading-font-weight:                       normal;
//$base-heading-color:                             $444-color;
//$base-heading-text-transform:                    none;
//$base-heading-margin-top:                        25px;
//$base-h1-font-size:                              36px;
//$base-h1-line-height:                            42px;
//$base-h2-font-size:                              24px;
//$base-h2-line-height:                            30px;
//$base-h3-font-size:                              18px;
//$base-h3-line-height:                            24px;
//$base-h4-font-size:                              16px;
//$base-h4-line-height:                            22px;
//$base-h5-font-size:                              14px;
//$base-h5-line-height:                            20px;
//$base-h6-font-size:                              12px;
//$base-h6-line-height:                            18px;
//$base-list-padding-left:                         30px;
//$base-hr-margin-vertical:                        $base-margin-vertical;
//$base-hr-border:                                 $ddd-color;
//$base-hr-border-width:                           1px;
//$base-blockquote-padding-left:                   15px;
//$base-blockquote-border:                         $ddd-color;
//$base-blockquote-border-width:                   5px;
//$base-blockquote-font-size:                      16px;
//$base-blockquote-line-height:                    22px;
//$base-blockquote-font-style:                     italic;
//$base-pre-padding:                               10px;
//$base-pre-background:                            $f5f5f5-color;
//$base-pre-color:                                 $444-color;
//$base-pre-font-size:                             12px;
//$base-pre-line-height:                           18px;
//$base-pre-font-family:                           $base-code-font-family;
//$base-selection-background:                      $39f-color;
//$base-selection-color:                           $fff-color;
//$block-padding-vertical:                         20px;
//$block-padding-vertical-large:                   50px;
//$block-large-padding-vertical:                   $block-padding-vertical;
//$block-large-padding-vertical-medium:            $block-padding-vertical-large;
//$block-large-padding-vertical-large:             100px;
//$block-default-background:                       $fff-color;
//$block-muted-background:                         $f9f9f9-color;
//$block-primary-background:                       $00a8e6-color;
//$block-secondary-background:                     $222-color;
//$article-margin-top:                             25px;
//$article-title-font-size:                        36px;
//$article-title-line-height:                      42px;
//$article-title-font-weight:                      normal;
//$article-title-text-transform:                   none;
//$article-meta-font-size:                         12px;
//$article-meta-line-height:                       18px;
//$article-meta-color:                             $999-color;
//$article-lead-color:                             $444-color;
//$article-lead-font-size:                         18px;
//$article-lead-line-height:                       24px;
//$article-lead-font-weight:                       normal;
//$article-divider-margin:                         25px;
//$article-divider-border:                         $ddd-color;
//$breadcrumb-font-size:                           1rem;
//$breadcrumb-divider:                             "/";
//$breadcrumb-divider-margin:                      8px;
//$breadcrumb-disabled-color:                      $999-color;
//$button-height:                                  30px;
//$button-mini-height:                             20px;
//$button-small-height:                            25px;
//$button-large-height:                            40px;
//$button-line-height:                             30px;
//$button-mini-line-height:                        20px;
//$button-small-line-height:                       25px;
//$button-large-line-height:                       40px;
//$button-mini-font-size:                          11px;
//$button-small-font-size:                         12px;
//$button-large-font-size:                         16px;
//$button-padding-horizontal:                      12px;
//$button-mini-padding-horizontal:                 6px;
//$button-small-padding-horizontal:                10px;
//$button-large-padding-horizontal:                15px;
//$button-font-size:                               1rem;
//$button-background:                              $eee-color;
//$button-color:                                   $444-color;
//$button-hover-background:                        $f5f5f5-color;
//$button-hover-color:                             $444-color;
//$button-active-background:                       $ddd-color;
//$button-active-color:                            $444-color;
//$button-primary-background:                      $00a8e6-color;
//$button-primary-color:                           $fff-color;
//$button-primary-hover-background:                $35b3ee-color;
//$button-primary-hover-color:                     $fff-color;
//$button-primary-active-background:               $0091ca-color;
//$button-primary-active-color:                    $fff-color;
//$button-success-background:                      $8cc14c-color;
//$button-success-color:                           $fff-color;
//$button-success-hover-background:                $8ec73b-color;
//$button-success-hover-color:                     $fff-color;
//$button-success-active-background:               $72ae41-color;
//$button-success-active-color:                    $fff-color;
//$button-danger-background:                       $da314b-color;
//$button-danger-color:                            $fff-color;
//$button-danger-hover-background:                 $e4354f-color;
//$button-danger-hover-color:                      $fff-color;
//$button-danger-active-background:                $c91032-color;
//$button-danger-active-color:                     $fff-color;
//$button-disabled-background:                     $f5f5f5-color;
//$button-disabled-color:                          $999-color;
//$button-link-color:                              $07D-color;
//$button-link-hover-color:                        $059-color;
//$button-link-hover-text-decoration:              underline;
//$button-link-disabled-color:                     $999-color;
//$close-size:                                     20px;
//$close-alt-padding:                              2px;
//$close-alt-background:                           $eee-color;
//$column-gutter:                                    25px;
//$comment-header-margin-bottom:                   15px;
//$comment-avatar-margin-right:                    15px;
//$comment-title-margin-top:                       5px;
//$comment-title-font-size:                        16px;
//$comment-title-line-height:                      22px;
//$comment-meta-margin-top:                        2px;
//$comment-meta-color:                             $999-color;
//$comment-meta-font-size:                         11px;
//$comment-meta-line-height:                       16px;
//$comment-list-margin-top:                        15px;
//$comment-list-padding-left:                      100px;
//$contrast-color:                                 $fff-color;
//$contrast-inverted-color:                        $444-color;
//$contrast-base-color:                            $contrast-color;
//$contrast-base-link-color:                       fade($contrast-color, 70%);
//$contrast-base-link-text-decoration:             none;
//$contrast-base-link-hover-color:                 $contrast-color;
//$contrast-base-link-hover-text-decoration:       underline;
//$contrast-base-code-color:                       $contrast-color;
//$contrast-base-em-color:                         $contrast-color;
//$contrast-base-heading-color:                    $contrast-color;
//$contrast-base-hr-border:                        fade($contrast-color, 20%);
//$contrast-nav-side-color:                        $contrast-color;
//$contrast-nav-side-hover-background:             fade($contrast-color, 10%);
//$contrast-nav-side-hover-color:                  $contrast-color;
//$contrast-nav-side-active-background:            $contrast-color;
//$contrast-nav-side-active-color:                 $contrast-inverted-color;
//$contrast-nav-side-header-color:                 $contrast-color;
//$contrast-nav-side-divider-border:               fade($contrast-color, 20%);
//$contrast-nav-side-nested-color:                 fade($contrast-color, 70%);
//$contrast-nav-side-nested-hover-color:           $contrast-color;
//$contrast-subnav-color:                          fade($contrast-color, 70%);
//$contrast-subnav-hover-color:                    $contrast-color;
//$contrast-subnav-hover-text-decoration:          none;
//$contrast-subnav-active-color:                   $contrast-color;
//$contrast-subnav-line-border:                    fade($contrast-color, 20%);
//$contrast-subnav-pill-hover-background:          fade($contrast-color, 70%);
//$contrast-subnav-pill-hover-color:               $contrast-inverted-color;
//$contrast-subnav-pill-active-background:         $contrast-color;
//$contrast-subnav-pill-active-color:              $contrast-inverted-color;
//$contrast-tab-border:                            fade($contrast-color, 20%);
//$contrast-tab-color:                             fade($contrast-color, 70%);
//$contrast-tab-hover-border:                      fade($contrast-color, 70%);
//$contrast-tab-hover-background:                  fade($contrast-color, 70%);
//$contrast-tab-hover-color:                       $contrast-inverted-color;
//$contrast-tab-active-border:                     fade($contrast-color, 20%);
//$contrast-tab-active-background:                 $contrast-color;
//$contrast-tab-active-color:                      $contrast-inverted-color;
//$contrast-list-line-border:                      fade($contrast-color, 20%);
//$contrast-form-border:                           fade($contrast-color, 80%);
//$contrast-form-background:                       fade($contrast-color, 80%);
//$contrast-form-color:                            $contrast-inverted-color;
//$contrast-form-focus-border:                     $contrast-color;
//$contrast-form-focus-background:                 $contrast-color;
//$contrast-form-focus-color:                      $contrast-inverted-color;
//$contrast-form-placeholder-color:                fade($contrast-inverted-color, 70%);
//$contrast-button-background:                     $contrast-color;
//$contrast-button-color:                          $contrast-inverted-color;
//$contrast-button-hover-background:               fade($contrast-color, 80%);
//$contrast-button-hover-color:                    $contrast-inverted-color;
//$contrast-button-active-background:              fade($contrast-color, 70%);
//$contrast-button-active-color:                   $contrast-inverted-color;
//$contrast-button-primary-background:             $00a8e6-color;
//$contrast-button-primary-color:                  $contrast-color;
//$contrast-button-primary-hover-background:       $35b3ee-color;
//$contrast-button-primary-hover-color:            $contrast-color;
//$contrast-button-primary-active-background:      $0091ca-color;
//$contrast-button-primary-active-color:           $contrast-color;
//$contrast-icon-hover-color:                      fade($contrast-color, 70%);
//$contrast-icon-hover-hover-color:                $contrast-color;
//$contrast-icon-button-background:                $contrast-color;
//$contrast-icon-button-color:                     $contrast-inverted-color;
//$contrast-icon-button-hover-background:          fade($contrast-color, 80%);
//$contrast-icon-button-hover-color:               $contrast-inverted-color;
//$contrast-icon-button-active-background:         fade($contrast-color, 70%);
//$contrast-icon-button-active-color:              $contrast-inverted-color;
//$contrast-text-muted-color:                      fade($contrast-color, 60%);
//$contrast-text-primary-color:                    $2d7091-color;
//$description-list-horizontal-width:              160px;
//$description-list-horizontal-margin-left:        180px;
//$description-list-line-margin-top:               5px;
//$description-list-line-border-width:             1px;
//$description-list-line-border:                   $ddd-color;
//$description-list-line-color:                    $999-color;
//$description-list-line-font-weight:              normal;
//$dropdown-z-index:                               970;
//$dropdown-width:                                 200px;
//$dropdown-margin-top:                            5px;
//$dropdown-padding:                               15px;
//$dropdown-background:                            $f5f5f5-color;
//$dropdown-color:                                 $444-color;
//$dropdown-font-size:                             1rem;
//$dropdown-animation:                             uk-fade;
//$dropdown-divider-border-width:                  1px;
//$dropdown-divider-border:                        $ddd-color;
//$dropdown-small-padding:                         5px;
//$dropdown-navbar-margin:                         0;
//$dropdown-navbar-background:                     $f5f5f5-color;
//$dropdown-navbar-color:                          $444-color;
//$dropdown-navbar-animation:                      uk-slide-top-fixed;
//$dropdown-scrollable-height:                     200px;
//$form-height:                                    30px;
//$form-padding:                                   4px 6px;
//$form-border:                                    $ddd-color;
//$form-border-width:                              1px;
//$form-background:                                $fff-color;
//$form-color:                                     $444-color;
//$form-focus-border:                              $99baca-color;
//$form-focus-background:                          $f5fbfe-color;
//$form-focus-color:                               $444-color;
//$form-disabled-border:                           $ddd-color;
//$form-disabled-background:                       $f5f5f5-color;
//$form-disabled-color:                            $999-color;
//$form-placeholder-color:                         $999-color;
//$form-gutter:                                    15px;
//$form-legend-border:                             $ddd-color;
//$form-legend-border-width:                       1px;
//$form-legend-font-size:                          18px;
//$form-legend-line-height:                        30px;
//$form-small-height:                              25px;
//$form-large-height:                              40px;
//$form-small-padding:                             3px 3px;
//$form-large-padding:                             8px 6px;
//$form-small-font-size:                           12px;
//$form-large-font-size:                           16px;
//$form-danger-border:                             $dc8d99-color;
//$form-danger-background:                         $fff7f8-color;
//$form-danger-color:                              $d85030-color;
//$form-success-border:                            $8ec73b-color;
//$form-success-background:                        $fafff2-color;
//$form-success-color:                             $659f13-color;
//$form-blank-border:                              $ddd-color;
//$form-blank-border-style:                        dashed;
//$form-mini-width:                                40px;
//$form-small-width:                               130px;
//$form-medium-width:                              200px;
//$form-large-width:                               500px;
//$form-help-inline-margin-left:                   10px;
//$form-help-block-margin-top:                     5px;
//$form-controls-condensed-margin-vertical:        5px;
//$form-stacked-margin-bottom:                     5px;
//$form-stacked-font-weight:                       bold;
//$form-horizontal-label-width:                    200px;
//$form-horizontal-label-margin-top:               5px;
//$form-horizontal-controls-margin-left:           215px;
//$form-horizontal-controls-text-padding-top:      5px;
//$form-icon-width:                                30px;
//$form-icon-font-size:                            14px;
//$form-icon-color:                                $999-color;
//$grid-gutter-horizontal:                         25px;
//$grid-gutter-vertical:                           25px;
//$grid-gutter-large-horizontal:                   35px;
//$grid-gutter-large-vertical:                     35px;
//$grid-gutter-xlarge-horizontal:                  50px;
//$grid-gutter-xlarge-vertical:                    50px;
//$grid-gutter-small-horizontal:                   10px;
//$grid-gutter-small-vertical:                     10px;
//$grid-divider-border:                            $ddd-color;
//$grid-divider-border-width:                      1px;
//$icon-font-path:                                 "../fonts";
//$icon-small-font-size:                           150%;
//$icon-medium-font-size:                          200%;
//$icon-large-font-size:                           250%;
//$icon-small-vertical-align:                      -10%;
//$icon-medium-vertical-align:                     -16%;
//$icon-large-vertical-align:                      -22%;
//$icon-hover-color:                               $999-color;
//$icon-hover-hover-color:                         $444-color;
//$icon-button-width:                              35px;
//$icon-button-height:                             $icon-button-width;
//$icon-button-border-radius:                      100%;
//$icon-button-background:                         $eee-color;
//$icon-button-font-size:                          round(($icon-button-width * 0.5));
//$icon-button-color:                              $444-color;
//$icon-button-hover-background:                   $f5f5f5-color;
//$icon-button-hover-color:                        $444-color;
//$icon-button-active-background:                  $ddd-color;
//$icon-button-active-color:                       $444-color;
//$list-nested-padding-left:                       20px;
//$list-line-margin-top:                           5px;
//$list-line-border:                               $ddd-color;
//$list-line-border-width:                         1px;
//$list-striped-padding-vertical:                  5px;
//$list-striped-padding-horizontal:                5px;
//$list-striped-background:                        $f5f5f5-color;
//$list-space-margin-top:                          10px;
//$modal-z-index:                                  1010;
//$modal-background:                               $rgba00006-color;
//$modal-dialog-margin-vertical:                   50px;
//$modal-dialog-padding:                           20px;
//$modal-dialog-width:                             600px;
//$modal-dialog-background:                        $fff-color;
//$modal-dialog-large-width:                       930px;
//$modal-dialog-large-width-large:                 1130px;
//$modal-header-margin-bottom:                     15px;
//$modal-footer-margin-top:                        15px;
//$modal-caption-margin-bottom:                    -10px;
//$modal-caption-color:                            $fff-color;
//$nav-padding-vertical:                           5px;
//$nav-padding-horizontal:                         15px;
//$nav-header-padding-vertical:                    $nav-padding-vertical;
//$nav-header-padding-horizontal:                  $nav-padding-horizontal;
//$nav-header-font-size:                           12px;
//$nav-header-font-weight:                         bold;
//$nav-header-text-transform:                      uppercase;
//$nav-header-margin-top:                          15px;
//$nav-divider-margin-vertical:                    9px;
//$nav-divider-margin-horizontal:                  $nav-padding-horizontal;
//$nav-subtitle-font-size:                         12px;
//$nav-subtitle-line-height:                       18px;
//$nav-nested-padding-left:                        15px;
//$nav-nested-padding-vertical:                    2px;
//$nav-nested-padding-horizontal:                  0;
//$nav-sub-padding-vertical:                       5px;
//$nav-sub-padding-left:                           $nav-padding-horizontal;
//$nav-parent-icon:                                "\f104";
//$nav-parent-open-icon:                           "\f107";
//$nav-parent-icon-width:                          20px;
//$nav-parent-icon-margin-right:                   -10px;
//$nav-side-color:                                 $444-color;
//$nav-side-hover-background:                      $rgba000005-color;
//$nav-side-hover-color:                           $444-color;
//$nav-side-active-background:                     $00a8e6-color;
//$nav-side-active-color:                          $fff-color;
//$nav-side-header-color:                          $444-color;
//$nav-side-divider-border:                        $ddd-color;
//$nav-side-divider-border-width:                  1px;
//$nav-side-nested-color:                          $07D-color;
//$nav-side-nested-hover-color:                    $059-color;
//$nav-dropdown-color:                             $444-color;
//$nav-dropdown-hover-background:                  $00a8e6-color;
//$nav-dropdown-hover-color:                       $fff-color;
//$nav-dropdown-header-color:                      $999-color;
//$nav-dropdown-divider-border:                    $ddd-color;
//$nav-dropdown-divider-border-width:              1px;
//$nav-dropdown-nested-color:                      $07D-color;
//$nav-dropdown-nested-hover-color:                $059-color;
//$nav-navbar-color:                               $444-color;
//$nav-navbar-hover-background:                    $00a8e6-color;
//$nav-navbar-hover-color:                         $fff-color;
//$nav-navbar-header-color:                        $999-color;
//$nav-navbar-divider-border:                      $ddd-color;
//$nav-navbar-divider-border-width:                1px;
//$nav-navbar-nested-color:                        $07D-color;
//$nav-navbar-nested-hover-color:                  $059-color;
//$nav-offcanvas-padding-vertical:                 10px;
//$nav-offcanvas-padding-horizontal:               15px;
//$nav-offcanvas-color:                            $ccc-color;
//$nav-offcanvas-hover-background:                 $404040-color;
//$nav-offcanvas-hover-color:                      $fff-color;
//$nav-offcanvas-active-background:                $1a1a1a-color;
//$nav-offcanvas-active-color:                     $fff-color;
//$nav-offcanvas-header-color:                     $777-color;
//$nav-offcanvas-divider-border:                   $1a1a1a-color;
//$nav-offcanvas-divider-border-width:             1px;
//$nav-offcanvas-nested-color:                     $ccc-color;
//$nav-offcanvas-nested-hover-color:               $fff-color;
//$navbar-background:                              $eee-color;
//$navbar-color:                                   $444-color;
//$navbar-link-color:                              $07D-color;
//$navbar-link-hover-color:                        $059-color;
//$navbar-nav-height:                              40px;
//$navbar-nav-line-height:                         $navbar-nav-height;
//$navbar-nav-padding-horizontal:                  15px;
//$navbar-nav-color:                               $444-color;
//$navbar-nav-font-size:                           14px;
//$navbar-nav-font-weight:                         normal;
//$navbar-nav-font-family:                         "Helvetica Neue", Helvetica, Arial, sans-serif;
//$navbar-nav-hover-background:                    $f5f5f5-color;
//$navbar-nav-hover-color:                         $444-color;
//$navbar-nav-onclick-background:                  $ddd-color;
//$navbar-nav-onclick-color:                       $444-color;
//$navbar-nav-active-background:                   $f5f5f5-color;
//$navbar-nav-active-color:                        $444-color;
//$navbar-nav-subtitle-font-size:                  10px;
//$navbar-nav-subtitle-offset:                     2px;
//$navbar-brand-font-size:                         18px;
//$navbar-brand-color:                             $444-color;
//$navbar-brand-hover-color:                       $444-color;
//$navbar-toggle-font-size:                        18px;
//$navbar-toggle-color:                            $444-color;
//$navbar-toggle-hover-color:                      $444-color;
//$navbar-toggle-icon:                             "\f0c9";
//$navbar-toggle-icon-alt:                         "\f002";
//$offcanvas-z-index:                              1000;
//$offcanvas-background:                           $rgba00001-color;
//$offcanvas-bar-width:                            270px;
//$offcanvas-bar-background:                       $333-color;
//$offcanvas-panel-margin:                         20px 15px;
//$offcanvas-panel-color:                          $777-color;
//$offcanvas-panel-link-color:                     $ccc-color;
//$offcanvas-panel-link-hover-color:               $fff-color;
//$offcanvas-panel-title-color:                    $offcanvas-panel-link-color;
//$overlay-panel-padding:                          20px;
//$overlay-panel-color:                            $fff-color;
//$overlay-panel-background:                       $rgba00005-color;
//$overlay-icon:                                   "\f002";
//$overlay-icon-size:                              50px;
//$overlay-icon-color:                             $fff-color;
//$overlay-fade-in-opacity:                        1;
//$overlay-fade-out-opacity:                       0.7;
//$overlay-scale-in-scale:                         1.1;
//$overlay-scale-out-scale:                        1;
//$overlay-spin-in-scale:                          1.1;
//$overlay-spin-out-scale:                         1;
//$overlay-spin-in-rotate:                         3deg;
//$overlay-spin-out-rotate:                        0deg;
//$overlay-panel-link-color:                       inherit;
//$overlay-panel-link-text-decoration:             underline;
//$overlay-area-background:                        $rgba00003-color;
//$overlay-area-icon:                              "\f002";
//$overlay-area-icon-size:                         50px;
//$overlay-area-icon-color:                        $fff-color;
//$overlay-area-content-font-size:                 1rem;
//$overlay-area-content-padding-horizontal:        15px;
//$overlay-area-content-color:                     $fff-color;
//$overlay-area-content-link-color:                inherit;
//$overlay-caption-background:                     $rgba00005-color;
//$overlay-caption-padding:                        15px;
//$overlay-caption-color:                          $fff-color;
//$pagination-font-size:                           1rem;
//$pagination-margin-left:                         5px;
//$pagination-padding-vertical:                    3px;
//$pagination-padding-horizontal:                  5px;
//$pagination-line-height:                         20px;
//$pagination-background:                          $eee-color;
//$pagination-color:                               $444-color;
//$pagination-hover-background:                    $f5f5f5-color;
//$pagination-hover-color:                         $444-color;
//$pagination-onclick-background:                  $ddd-color;
//$pagination-onclick-color:                       $444-color;
//$pagination-active-background:                   $00a8e6-color;
//$pagination-active-color:                        $fff-color;
//$pagination-disabled-background:                 $f5f5f5-color;
//$pagination-disabled-color:                      $999-color;
//$panel-title-margin-bottom:                      15px;
//$panel-title-font-size:                          18px;
//$panel-title-line-height:                        24px;
//$panel-title-font-weight:                        normal;
//$panel-title-color:                              $444-color;
//$panel-title-text-transform:                     none;
//$panel-teaser-margin-bottom:                     $panel-title-margin-bottom;
//$panel-box-padding:                              15px;
//$panel-box-background:                           $f5f5f5-color;
//$panel-box-color:                                $444-color;
//$panel-box-hover-color:                          $panel-box-color;
//$panel-box-title-color:                          $444-color;
//$panel-box-badge-top:                            10px;
//$panel-box-badge-right:                          $panel-box-badge-top;
//$panel-box-teaser-margin:                        -$panel-box-padding;
//$panel-box-primary-background:                   $ebf7fd-color;
//$panel-box-primary-color:                        $2d7091-color;
//$panel-box-primary-hover-color:                  $panel-box-primary-color;
//$panel-box-primary-title-color:                  $2d7091-color;
//$panel-box-secondary-background:                 $eee-color;
//$panel-box-secondary-color:                      $444-color;
//$panel-box-secondary-hover-color:                $panel-box-secondary-color;
//$panel-box-secondary-title-color:                $444-color;
//$panel-hover-padding:                            15px;
//$panel-hover-color:                              $444-color;
//$panel-hover-hover-background:                   $f5f5f5-color;
//$panel-hover-hover-color:                        $444-color;
//$panel-hover-badge-top:                          10px;
//$panel-hover-badge-right:                        $panel-hover-badge-top;
//$panel-hover-teaser-margin:                      -$panel-hover-padding;
//$panel-header-title-padding:                     10px;
//$panel-header-title-border:                      $ddd-color;
//$panel-header-title-border-width:                1px;
//$panel-header-title-color:                       $444-color;
//$panel-space-padding:                            30px;
//$panel-divider-gutter:                           25px;
//$panel-divider-gutter-large:                     35px;
//$panel-divider-border:                           $ddd-color;
//$panel-divider-border-width:                     1px;
//$panel-body-padding:                             $panel-box-padding;
//$subnav-margin-horizontal:                       10px;
//$subnav-margin-vertical:                         $subnav-margin-horizontal;
//$subnav-color:                                   $444-color;
//$subnav-hover-color:                             $07D-color;
//$subnav-hover-text-decoration:                   none;
//$subnav-active-color:                            $07D-color;
//$subnav-line-border-height:                      10px;
//$subnav-line-border:                             $ddd-color;
//$subnav-line-border-width:                       1px;
//$subnav-pill-padding-vertical:                   3px;
//$subnav-pill-padding-horizontal:                 9px;
//$subnav-pill-hover-background:                   $eee-color;
//$subnav-pill-hover-color:                        $444-color;
//$subnav-pill-active-background:                  $00a8e6-color;
//$subnav-pill-active-color:                       $fff-color;
//$subnav-disabled-color:                          $999-color;
//$tab-border:                                     $ddd-color;
//$tab-border-width:                               1px;
//$tab-padding-horizontal:                         12px;
//$tab-padding-vertical:                           8px;
//$tab-padding-top:                                $tab-padding-vertical;
//$tab-padding-bottom:                             $tab-padding-vertical;
//$tab-margin-horizontal:                          5px;
//$tab-margin-vertical:                            5px;
//$tab-color:                                      $07D-color;
//$tab-hover-border:                               $f5f5f5-color;
//$tab-hover-background:                           $f5f5f5-color;
//$tab-hover-color:                                $059-color;
//$tab-active-border:                              $ddd-color;
//$tab-active-background:                          $fff-color;
//$tab-active-color:                               $444-color;
//$tab-disabled-color:                             $999-color;
//$table-margin-vertical:                          15px;
//$table-padding-vertical:                         8px;
//$table-padding-horizontal:                       8px;
//$table-caption-color:                            $999-color;
//$table-caption-font-size:                        12px;
//$table-striped-background:                       $f5f5f5-color;
//$table-condensed-padding-vertical:               4px;
//$table-condensed-padding-horizontal:             8px;
//$table-hover-background:                         $eee-color;
//$table-active-background:                        $table-hover-background;
//$text-small-font-size:                           11px;
//$text-small-line-height:                         16px;
//$text-large-font-size:                           18px;
//$text-large-line-height:                         24px;
//$text-large-font-weight:                         normal;
//$text-muted-color:                               $999-color;
//$text-primary-color:                             $2d7091-color;
//$text-success-color:                             $659f13-color;
//$text-warning-color:                             $e28327-color;
//$text-danger-color:                              $d85030-color;
//$text-contrast-color:                            $fff-color;
//$thumbnail-padding:                              4px;
//$thumbnail-border:                               $ddd-color;
//$thumbnail-border-width:                         1px;
//$thumbnail-background:                           $fff-color;
//$thumbnail-hover-border:                         $aaa-color;
//$thumbnail-hover-background:                     $fff-color;
//$thumbnail-caption-padding:                      $thumbnail-padding;
//$thumbnail-caption-color:                        $444-color;
//$thumbnail-mini-width:                           150px;
//$thumbnail-small-width:                          200px;
//$thumbnail-medium-width:                         300px;
//$thumbnail-large-width:                          400px;
//$thumbnav-margin-horizontal:                     10px;
//$thumbnav-margin-vertical:                       $thumbnav-margin-horizontal;
//$thumbnav-background:                            $fff-color;
//$thumbnav-opacity:                               0.7;
//$thumbnav-hover-opacity:                         1;
//$thumbnav-active-opacity:                        1;
//$utility-container-max-width:                    980px;
//$utility-container-padding-horizontal:           25px;
//$utility-container-large-max-width:              1200px;
//$utility-container-large-padding-horizontal:     35px;
//$utility-align-horizontal:                       15px;
//$utility-align-vertical:                         15px;
//$utility-height-viewport-min-height:             600px;
//$utility-margin:                                 15px;
//$utility-margin-small:                           5px;
//$utility-margin-large:                           50px;
//$utility-border-rounded:                         5px;
//$utility-heading-large-small-font-size:          36px;
//$utility-heading-large-small-line-height:        42px;
//$utility-heading-large-font-size:                52px;
//$utility-heading-large-line-height:              64px;
//$utility-link-muted-color:                       $444-color;
//$utility-link-muted-hover-color:                 $444-color;
//$utility-scrollable-text-height:                 300px;
//$utility-scrollable-box-height:                  170px;
//$utility-scrollable-box-padding:                 10px;
//$utility-scrollable-box-border:                  $ddd-color;
//$utility-scrollable-box-border-width:            1px;
//$breakpoint-small:                               480px;
//$breakpoint-medium:                              768px;
//$breakpoint-large:                               960px;
//$breakpoint-xlarge:                              1220px;
//$breakpoint-mini-max:                            ($breakpoint-small - 1);
//$breakpoint-small-max:                           ($breakpoint-medium - 1);
//$breakpoint-medium-max:                          ($breakpoint-large - 1);
//$breakpoint-large-max:                          ($breakpoint-xlarge - 1);
