<div role="form">
  <form action="" method="post" novalidate="novalidate">
    <p>Name (Pflichtfeld)<br />
      <span class="your-name">
        <input type="text" name="your-name" value="" size="40" class="" aria-required="true" aria-invalid="false" placeholder="Ihr Vorname und Name" />
      </span>
    </p>
    <p>E-Mail (Pflichtfeld)<br />
      <span class="your-email">
        <input type="email" name="your-email" value="" size="40" class="" aria-required="true" aria-invalid="false" placeholder="Ihre Emailadresse" />
      </span>
    </p>
    <p>Betreff<br />
      <span class="your-subject">
        <input type="text" name="your-subject" value="" size="40" class="" aria-invalid="false" placeholder="Worum es geht" />
      </span>
    </p>
    <p>Ihre Nachricht<br />
      <span class="your-message">
        <textarea name="your-message" cols="40" rows="10" class="" aria-invalid="false" placeholder="Wäre schön, wenn Sie hier etwas reinschreiben"></textarea>
      </span>
    </p>
    <p><input type="submit" value="Senden" class="submit" /></p>
  </form>
</div> <!-- Ende Form -->
